<div id="modal_confirmacion_etiqueta" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Imprimir Etiqueta</h4>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                  <div class="table-align">
                    <label class="col-sm-12 col-form-label text-center table-align-item-middle">
                        ¿Está seguro que desea imprimir la etiqueta de la bobina?<br />
                        Al imprimir la etiqueta, no podrá almacenar nuevas mediciones.
                    </label>
                  </div>
                  </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
                <button id="imprime_etiqueta" type="button" class="btn btn-primary">SI</button>
                <button id="finalizarorden" type="button" class="btn btn-primary"> SI Y FINALIZAR ORDEN</button>
            </div>
        </div>
    </div>
</div>
