<div id="modal_confirmacion" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Finalizar proceso</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div id="mimensaje" class="col-xs-10 col-xs-offset-1 alert alert-warning"></div>
                </div>
                <div class="form-group row">
                  <div class="table-align">
                    <div class="col-xs-12 col-form-label text-center table-align-item-middle">
                        ¿Está seguro que desea dar por Terminada la Orden de Trabajo?<br />
                        Al finalizar la orden de trabajo, no podrá editarla nuevamente.
                    </div>
                  </div>
                  </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
                <button id="cerrar_orden" type="button" class="btn btn-primary">SI</button>
            </div>
        </div>
    </div>
</div>
