<div id="modal_confirmacion_impresion" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Imprimir Etiqueta</h4>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                  <div class="table-align">
                    <label class="col-sm-12 col-form-label text-center table-align-item-middle">
                        Luego de imprimir la etiqueta. Desea:<br />
                    </label>
                  </div>
                  </div>
            </div>
            <div class="modal-footer">
                <button id="confirm_close_process" type="button" class="btn btn-default" data-dismiss="modal">FINALIZAR PROCESO</button>
                <button id="confirm_new_bobina" type="button" class="btn btn-primary">GENERAR NUEVA BOBINA</button>
            </div>
        </div>
    </div>
</div>
