.list_maquinas{
    margin: 0px 0px 0px 20px;
    padding: 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    width: calc(100% - 40px);
}
.list_maquinas li{
    padding: 10px 20px;
    border-left: 1px solid gray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    cursor: pointer;
    font-weight: normal;
    background-color: #FFF;
    margin-left: 5px;
}
.list_maquinas li:hover{
    background-color: #DDD;
    font-weight: bold;
}
.list_maquinas li.current{
    padding: 10px 20px;
    border-left: 1px solid #007fbf;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 1px solid #007fbf;
    border-right: 1px solid #007fbf;
    font-weight: bold;
    background-color: #b7e2ff;
}
.title{
    width: calc(100% - 240px);
    padding-right: 10px;
    box-sizing: border-box;
    text-align: right;
    display: inline-block;
    font-size: 2.5em;
    font-weight: bold;
}
.msg{
    margin: 0px 5px;
}
.bobinas_involved{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    list-style: none;
}
.bobinas_involved li{
    margin-left: 8px;
    background-color: gray;
    color: black;
    padding: 3px 8px;
    border-radius: 5px;
}
#add_box{
    cursor: pointer;
}